<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SearchBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B45819D11C05B4B80096FE32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B45819EA1C05B4B90096FE32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B45819F51C05B4B90096FE32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
